<% provide(:title, "Top") %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>StubSnap</h1>
      <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
