<div class="d-flex float-end">
  <%= link_to "#", id: "button-edit-#{stub.id}" do %>
    <div class="bi bi-pencil-fill"></div>
  <% end %>
  <div class="ms-3"></div>
  <%= link_to "#", id: "button-delete-#{stub.id}" do %>
    <div class="bi bi-trash-fill"></div>
  <% end %>
</div>