<div class="container pt-3">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <!-- 検索フォーム -->
      <form>
        <div class="input-group mb-3">
          <input class="form-control" placeholder="検索ワード" type="search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">検索</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="add-stub d-flex justify-content-center">
    <%= link_to new_stub_path do %>
      <i class="bi bi-plus-circle add-stub-icon">add stub</i>
    <% end %>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @stubs.present? %>
          <%= render @stubs %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>