<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="d-flex justify-content-center mt-4">
    <div class="col-md-6">
      <!-- 検索フォーム -->
      <%= render 'search_form', url: my_page_stubs_path %>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row mt-5">
    <div class="col-12">
      <div class="row">
        <% if @my_stubs.present? %>
          <%= render @my_stubs %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @my_stubs %>
    </div>
  </div>
</div>