<% content_for(:title, t('.title')) %>
<div class="container" style="margin: 30px 30px;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h4 class="row justify-content-center mb-4"><%= t '.title' %></h4>
      <%= render 'form', { stub: @stub } %>
    </div>
  </div>
</div>