<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <nav class='d-flex justify-content-center mb-4'>
            <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeBFQMviXvKXrlYuo-HgPRX8UeK2IObDJ__BTXkqc73SqhiPg/viewform?usp=sf_link" %>
            <%= link_to "利用規約", terms_of_service_path %>
            <%= link_to "プライバシーポリシー", privacy_policy_path %>
      </nav>
      <div class='d-flex justify-content-center'>
        <p>© StubSnap 2024</p>
      </div>
    </div>
  </div>
</footer>