<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='d-flex justify-content-center'>
        <div class='copyright'>
          <p>Copyright © 2023. StubSnap
            <%= link_to "About",   '#' %>
            <%= link_to "Contact", '#' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>