<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2023. StubSnap</p>
          <%= link_to "About",   '#' %>
          <%= link_to "Contact", '#' %>
        </div>
      </div>
    </div>
  </div>
</footer>