<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='d-flex justify-content-center'>
        <div class='copyright'>
          <p>Copyright © 2024. StubSnap
            <%= link_to "お問い合わせ",   '#' %>
            <%= link_to "利用規約", terms_of_service_path %>
            <%= link_to "プライバシーポリシー", privacy_policy_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>