//
// Masthead section styling
//
header.masthead {
  display: flex;
  height: 100vh;
  background-color: #1d3658;
  
  .left-column {
  display: flex; /* Add display flex */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 100vh;
  width: 50%;
}

.top_image {
  border-radius: 5%;
  max-width: 100%;
  border-color: #f2faef;
  border-style: solid; /* ボーダーのスタイルを設定 */
  border-width: 5px;   /* ボーダーの幅を設定 */

}


  .right-column{
    padding-top: 5rem + 6rem;
    height: 100vh;
    width: 50%;
    text-align: center;
    color: #f2faef;
    }

  .masthead-subheading {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 25px;
  }

  .masthead-heading {
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 3.25rem;
      margin-bottom: 2rem;
  }

  .btn-guestlogin{
    color:  #f2faef;
    background-color: #e63746;
    border-color:  #f2faef;
  }
}

@media screen and (max-width: 768px) {
  header.masthead{
    flex-direction: column;
  }
  .left-column{
    width: 100%;
  }
  .right-column{
    width: 100%;
  }

  .top-image{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .logo{
    width: 100px;
    height: 100px;
  }
}